<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <commands>
      <command name="crownpeakdqm:previewtab" type="Cognifide.Sitecore.Crownpeak.Commands.ShowPreviewTab, Cognifide.Sitecore.Crownpeak" />
    </commands>
    <settings>
      <setting name="Crownpeak.ApiKey" value="AEJzaS2jn04uwEdbVLTtI4jj1nkyYc3r2OE68Uxl" />
      <setting name="Crownpeak.WebsiteId" value="809d0b9535b47a7cd700b1df88794955" />
      <setting name="Crownpeak.RetryCount" value="5" />
    </settings>
  </sitecore>
</configuration>
